

section#works {
    background-color: #111430;
}
#works .carousel-item {
    max-width: 800px;
    max-height: 420px;
    float: none;
    margin: auto;
    margin-bottom: 10px;
}
#works .carousel-item.active {
    display: block;
}


